<header class="headerContainer">
    <a href="/" class="linkButton"><img src="/assets/img/logo.jpg" class="logo"></a>
    <img src="/assets/img/hamburguer.svg" alt="hamburguer" id="hamburguerHeader"/>
    <div class="linksHeader">
        <ul>
            <li><a href="http://">Institucional</a></li>
            <li><a href="http://">Empresas</a></li>
            <li><a href="/login">BCU Direito</a></li>
        </ul>
    </div>
</header>
