<div class="menuContainer">
  <nav>
    <ul class="menuMobileItems">
      <li>
        <h3>Produtos</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="http://">Contas</a></li>
          <li><a href="http://">Cartões</a></li>
          <li><a href="http://">Créditos</a></li>
          <li> <a href="">Levantamentos</a></li>
        </ul>
      </li>
      <li>
        <h3>Serviços</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="http://">Seguros</a> </li>
          <li><a href="/login">Internet Banking</a></li>
          <li><a href="http://">Abertura de Conta Online</a></li>
          <li><a href="http://">Emissão de faturas genericas</a> </li>
        </ul>
      </li>
      <li>
        <h3>Apoio ao Cliente</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="http://">Linha 24H</a></li>
          <li><a href="http://">Perguntas Frequentes</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
