<div class="sideBarControler hide">
<aside class="sideBarContainer">
    <nav>
        <a href="/dashboard/creditos" class="linkButton">Consultar</a>
        <a href="/dashboard/creditos" class="linkButton">Créditos</a>
        <a href="/dashboard/depositos" class="linkButton">Depositos</a>
        <a href="/dashboard/levantamentos" class="linkButton">Levantamento</a>
        <a href="/dashboard/pagamentos" class="linkButton">Pagamentos</a>
        <a href="/dashboard/transferencias" class="linkButton">Transferências</a>
        <a href="/dashboard/definicoes" class="linkButton">Definições</a>
        <a href="#" class="linkButtonSair">Sair</a>
    </nav>
</aside>
</div>