<div class="sideBarControler">
<aside class="sideBarContainer">
    <nav>
        <a href="/dashboard/cartoes" class="linkButton"><img src="/assets/img/card.svg"/>Cartões</a>
        <a href="/dashboard/creditos" class="linkButton"><img src="/assets/img/pig.svg"/>Créditos</a>
        <a href="/dashboard/depositos" class="linkButton"><img src="/assets/img/in.svg"/>Depositos</a>
        <a href="/dashboard/levantamentos" class="linkButton"><img src="/assets/img/finance.svg"/>Finanças</a>
        <a href="/dashboard/levantamentos" class="linkButton"><img src="/assets/img/out.svg"/>Levantamento</a>
        <a href="/dashboard/pagamentos" class="linkButton"><img src="/assets/img/payment.svg"/>Pagamentos</a>
        <a href="/dashboard/transferencias" class="linkButton"><img src="/assets/img/transfer.svg"/>Transferências</a>
        <a href="/dashboard/definicoes" class="linkButton"><img src="/assets/img/setting.svg"/>Definições</a>
        <a href="#" class="linkButtonSair"><img src="/assets/img/logout.svg"/>Sair</a>
    </nav>
</aside>
</div>