<div class="levantamentoItem">
    <h1>
        Valor: 25.000.kz 
    </h1>
    <h1>
        Data: 15/03/2024 
    </h1>
    <h1>
        Código: 123 
    </h1>
    <h1>
        Código : 123456 
    </h1>
    <h1>
        Estado: Pendente 
    </h1>
    <div class="levantamentoAction">
        <button>Cancelar</button>
        <button>Exportar</button>
    </div>
</div>