<div class="levantamentoItem">
    <h4>
        Valor: 25.000.kz 
    </h4>
        <h4>
            Data: 15/03/2024 
        </h4>
    <h4>
        Estado: Pendente 
    </h4>
    <div class="levantamentoAction">
        <button id="levantamentoCancelar">Cancelar</button>
        <button>Exportar</button>
    </div>
</div>