
    <%- include('partials/head',{title:'BCU Home'})%>
    <%- include('partials/header')%>
    <section>
        <h1>Em Construção</h1>
        <br>
        <a href="/login">Login</a>
    </section>
    <%- include('partials/footer')%>
    <%- include('partials/pageEnd')%>
