
    <%- include('partials/head',{title:'BCU Home'})%>
    <%- include('partials/header')%>
    <section class="carrocelContainer">
        <nav>
            <ul class="carrocelNavItems">
                <li>
                    <h4>Produtos</h4>
                    <ul class="carrocelNavItemsUl">
                        <li><a href="http://">Contas</a></li>
                        <li><a href="http://">Cartões</a></li>
                        <li><a href="http://">Créditos</a></li>
                        <li> <a href="">Levantamentos</a></li>
                        <li><a href="http://">Seguros</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Serviços</h4>
                    <ul class="carrocelNavItemsUl">
                        <li><a href="/login">Internet Banking</a></li>
                        <li><a href="http://">Abertura de Conta Online</a></li>
                        <li><a href="http://">Emissão de faturas genericas</a> </li>
                    </ul>
                </li>
                <li>
                    <h4>Apoio ao Cliente</h4>
                    <ul class="carrocelNavItemsUl">
                        <li><a href="http://">Linha 24H</a></li>
                        <li><a href="http://">Perguntas Frequentes</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <section class="slideSection">

    </section>
    <h1 class="parceirosContainerHeader">Nossos Parceiros</h1>
    <section class="parceirosContainer">
        <h1>Eugenio Corporation</h1>
        <h1>Franco Technology</h1>
        <h1>D'arts</h1>
        <h1>Hosanna</h1>
    </section>
    <%- include('partials/footer')%>
    <%- include('partials/pageEnd')%>
