<%- include('partials/head',{title:'BCU Validação'})%>
<section class="dashboardContainer">
        <div class="mainArea">
            <div class="transferenciaContainer">
                <form class="borderCurveElements" id="validationForm">
                    <input type="number" name="codigo" maxlength="4" minlength="4" placeholder="chave de Confirmação" id="chaveField"/>
                    <button id="validaCountBtn">Validar</button>
                </form>
            </div>
        </div>
    </section>
    <%- include('partials/footer')%>
    <%- include('partials/pageEnd')%>