<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <title>BCU Dasboard-Clientes</title>
</head>
<body>
    <header class="headerContainer"><h1>BCU-Clientes</h1></header>
    <section class="dashboardContainer">
        <aside class="sideBarContainer">
            <nav>
                <a href="/" class="linkButton">Inicial</a>
                <a href="/dashboard/creditos" class="linkButton">Créditos</a>
                <a href="/dashboard/clientes" class="linkButton">Clientes</a>
                <a href="/dashboard/financas" class="linkButton">Finanças</a>
                <a href="/dashboard/empresas" class="linkButton">Empresas</a>
                <a href="/dashboard/funcionarios" class="linkButton">Funcionários</a>
                <a href="#" class="linkButtonSair">Sair</a>
            </nav>
        </aside>
        <div class="mainArea">
            <h1>Clientes</h1>
        </div>
    </section>
    <footer class="footerContainer">
        <h2>Banco Comercial Ujamaa</h2>
    </footer>
</body>
</html>