.dashboardContainer,
.dashboardUserDadosFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(white 85%, #6A5ACD); */
  background-image: url('../img/africaWonder.jpg');
  background-size: cover;
}

.dashboardUserDadosForm {
  margin: 3rem 2rem 0 2rem;
  background: rgba(34, 34, 149, 0.642);
  color: white;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  height: 400px;
  flex-direction: column;
  gap: 0.3rem; 
  padding: 1rem;
  overflow-y: scroll;
}

.dashboardUserDadosForm select {
  padding: 0.5rem;
}

.informacoesPessoais,
.informacoesAcademicas{
   display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.dashboardUserDadosForm input {
  padding: 0.5rem;
}

.defenicoesHeader {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem;
}

.defenicoesHeader nav ul {
  display: flex;
  margin-top: 1rem;
}

.defenicoesHeader nav ul li a {
  text-decoration: none;
  padding: 0.5rem;
  background-color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chocolateContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 9px);
  grid-template-rows: repeat(3, 9px);
  gap: 2px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.chocolateContainer:hover {
  display: grid;
  grid-template-columns: repeat(3, 9px);
  grid-template-rows: repeat(3, 9px);
  gap: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(237, 237, 209) inset;
}
.chocolateContainer div {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 1px;
  transition: all 1s ease-in-out;
}

.chocolateContainer div:hover{
background-color: rgb(34, 243, 254);
width: 8px;
height: 8px;
}


.sideBarContainer {
  /* padding: 0.5rem; */
  width: 70%;
  /* border-radius: 8px; */
  border-bottom-right-radius: 8px;
  z-index: 7000;
  /* height: inherit; */
}

.sideBarContainer nav {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-left: 0.5rem;
  transition: all 2s ease-in-out;  
}

.sideBarContainer nav a {
  /* text-align: start; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 2s ease-in-out;
}
.sideBarContainer nav a:hover{
  border: 0.3px solid white;
}

.sideBarContainer nav a img {
  width: 10%;
  height: 10%;
}

/* .linkButton {
  background-color:red;
} */
.linkButton:active {
  background-color:transparent;
}

.linkButtonSair {
  background-color: black;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  border: transparent;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

.sideBarControler {
  position: absolute;
  color: white;
  width: 100%;
  background: rgba(34, 34, 149, 0.642);
  /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.651) 60%, rgba(128, 0, 128, 0.74)); */
  left: -100%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.sideBarControler.show {
  left: 0;
}

.transferenciaContainer {
  /* margin-top: 5%; */
  margin: 6% 5% 1rem 5%;
  padding: 0.5rem;
  height: 50%;
  /* border-radius: 8px; */
  /* width: 100%; */
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.transferenciaContainer form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transferenciaContainer form input,
.transferenciaContainer form select {
  padding: 0.8rem;
  text-align: left;
  /* border-radius: 5px; */
  border: transparent;
  outline: none;
}

button {
  border: transparent;
}

.mainArea {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: inherit;
  /* background-color: rgba(0, 0, 0, 0.39); */
  background: rgb(15, 15, 104);
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%); */
}

.mainAreaDefinicoes {
  margin-top: 5rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: inherit;
  background-color: rgba(0, 0, 0, 0.39);
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%); */
}

.mainAreaCard {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  height: inherit;
  background-color: rgba(0, 0, 0, 0.39);
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%); */
}

.mainArea h1 {
  padding: 1rem;
  color: white;
  font-size: 16px;
}

.borderCurveElements input,
.borderCurveElements select {
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cartaoContainer {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 40%;
  background: linear-gradient(60deg, black, rgb(34, 34, 149));
  border-radius: 8px;
}

#chip {
  width: 15%;
  height: 10%;
  margin-left: 1.5rem;
  position: absolute;
  margin-top: 5rem;
}

#bankCardLogo {
  text-align: right;
  padding: 0.5rem;
  color: white;
}

.cardDetails {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  text-align: right;
}

.saldo {
  padding: 0 0 0 1rem;
  text-align: center;
  color: white;
}

.contactContainer {
  padding-left: 1rem;
}

.contactContainer ul li {
  padding: 1rem;
  list-style-type: none;
}

.contactContainer ul li a {
  text-decoration: none;
  color: white;
}

.contactContainer ul h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 0.5rem;
}

.contactContainer ul h4 img {
  width: 5%;
  height: 5%
}

.logoutModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  /* background: url('../img/tanzania.jpg'); */
  background: blue;
  /* background-size: cover; */
}

.modalOut {
  background: rgb(34, 34, 149);
  height: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: white;
}

.modalItems h4 {
  position: absolute;
  bottom: 1%;
  text-align: center;
  color: white;
}

.transferenciaContainer form button,
.logoutModal button,
.btnSalvarDados {
  padding: 0.8rem;
  border-radius: 8px;
  color: white;
  /* background: linear-gradient(45deg, black, purple); */
  /* background: blue; */
  background: rgb(163, 190, 67);
  
}



#btnSairNO {
  background-color: black;
  color: white;
}

.logoutModal button {
  width: 60%;
}

.hide {
  display: none;
}

.infoValidation {
  color: white;
  font-weight: 700;
}

.avatarContainer {
  position: absolute;
  right: 1%;
  top: 10%;
  width: 10%;
  color: white;
  /* background:linear-gradient(45deg,rgba(0, 0, 0, 0.651) 60%,rgba(128, 0, 128, 0.74)); */
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  /* height: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoContainer{
  display: flex;
  flex-direction: column;
  max-height: 150px;
  max-width: 150px;
}
.logoContainer img{
  width: 50%;
  height: 50%;
  cursor: pointer;
  transition: all 2s ease-in-out;
}
.logoContainer img:hover{
  transform: scale(1.2);
  box-shadow: 0 5px 5px 0 white;
}

.avatarDetails{
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  max-width: 150px;
}

#avatarImg {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

#avatarImg:hover{
transform: scale(1.1);
box-shadow: 2px 2px 2px 2px white;
}
.contactosContainer{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 8px; 
}

label{
  cursor: pointer;
}

.contactosContainer div{
  display: flex;
  flex-direction: column;
  width: 50%;
}


.dashboardContainerItems {
  display: grid;
  position: fixed;
  left: -1000%;
  margin-top: -6rem;
  grid-template-columns: 44fr 44fr 44fr;
  grid-template-rows: 50fr;
  gap: 0.5rem;
  height: 50%;
  justify-content: center;
}

.mainAreaDashboard {
  /* padding-top: 3rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.39);
  justify-content: center;
  align-items: center;
}

.mobileDashMenu ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
}

.mobileDashMenu ul li button {
  padding: 0.5rem;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.651) 60%, rgba(128, 0, 128, 0.74));

}

@media screen and (min-width:768px) {
  .btnSalvarDados{
    align-self: center;
  }
  .dashboardUserDadosForm {
    display: grid;
    grid-template-columns: repeat(2, 50fr);
    grid-template-rows: repeat(2,100fr);
    gap: 0.5rem; 
    padding: 1rem;
    overflow-y: hidden;
  }
  .mobileDashMenu {
    display: none;
  }

  .mobileDashBoard {
    position: fixed;
    left: -100%;
  }

  .mainAreaDashboard {
    align-items: flex-start
  }

  .dashboardContainerItems {
    position: static;
    display: grid;
    grid-template-columns: 44fr 44fr 44fr;
    height: 250px;
    gap: 2rem;
    padding-left: 2rem;
  }

  .mainArea,
  .mainAreaCard {
    display: grid;
    grid-template-columns: 50fr 50fr;
    gap: 0.5rem;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.39);
  }

  .sideBarControler {
    width: 30%;
  }

  .cartaoContainer {
    align-self: center;
    width: 60%;
    border-radius: 16px;
  }

  .transferenciaContainer {
    align-self: center;
    width: 80%;
    border-radius: 16px;
  }
  .sideBarContainer nav {
    margin-top: 60%;
    gap: 1.5rem;
     }
  #chip {
    padding-left: 8px;
    padding-top: 8px;
    width: 50px;
    height: 50px;
  }

  .logoutModal button {
    width: 30%;
  }
}

.moneyOptions option {
  padding: 0.5px;
  gap: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.levantamentos {
  margin: 0.3rem;
  /* background-color: rgb(133, 113, 113); */
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow-y: scroll;
}

.levantamentoItem {
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #ffffffa8;
  color: black;
  margin: 0.4rem;
  padding: 0.4rem;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  align-items: center;
  border: 2px solid #e0d7d7ea;
  justify-content: space-between;
}

.levantamentoAction {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.levantamentoAction button {
  padding: 0.5rem;
  border-radius: 8px;
}

#levantamentoCancelar {
  background-color: rgba(217, 23, 23, 0.638);
  color: white;
}

#recuperacao {
  color: white;
}

.defenicoesHeader ul {
  display: flex;
  gap: 1rem;
  /* background-color: red; */
}

.defenicoesHeader ul li {
  list-style: none;
}

.dashboardContainerItems div,
.mobileDashBoard {
  /* width: 500px; */
  /* height: 250px; */
  background-color: rgba(240, 236, 236, 0.635);
  /* border: 0.01px solid rgba(255, 255, 255, 0.957); */
  /* opacity: 0.5; */
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.dashboardContainerItems div:hover,
.dashboardContainerItems div:active,
.mobileDashBoard:hover{
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(208, 88%, 53%, 0.25);
}

.mobileDashBoard {
  width: 80%;
  height: 65%;
}

.levantamentoContainerDash {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.levantamentoContainerDash a {
  text-align: center;
}

.saldoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saldoContainer a {
  padding-top: 0.5rem;
}

.levantamentoContainerDash ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.levantamentoContainerDash ul li {
  background-color: #6A5ACD;
  color: white;
  padding: 0.5rem;
}