* {
    padding: 0;
    margin: 0;
    list-style:none;
}

body{
    display: flex;
    flex-direction:column;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% 1rem 20% 1rem;
    background:linear-gradient(45deg, rgb(36, 28, 28),rgb(78, 8, 119));
    color: white;
    padding: 1rem;
    opacity: 0.9;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

@media screen and (min-width:768px) {
    .loginContainer{
        align-self: center;
        justify-self: flex-start;
        width: 40%;
        margin: 5% 1rem 20% 1rem;
    }
}

.footerContainer p{
    color:white;
    text-align:center;
    font-size:12px;
}



.linkConta{
    padding-top:1rem;
    text-align:center;
}

.footerContainer{
    justify-content: center;
    width: 100%;
    font-size: 10pt;
    background-color: #120114;
    padding:1rem 0 1rem 0;
    /* bottom: 5%; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family:Ubuntu,system-ui, -apple-system, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formContainer{
margin-top:1.5rem;
padding: 0.5rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 1.5rem;;
width: 70%;
}

.formContainer div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formContainer div label{
    display: none;
}
.formContainer div input{
    padding: 0.8rem;
    border-radius: 8px;
    outline: none;
    border: transparent;
    color: hsl(49, 84%, 12%);
    width: 100%;
}
.formContainer button{
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
    border: transparent;
    background-color: hsla(49, 87%, 49%, 0.774);
    width: 50%;
}



.footerContainer h2{
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.footerContainer h2:hover{
    color: orange;
}

button{
    cursor: pointer;
}
.loginContainer p a{
    color: orange;
    text-decoration: none;
}

#cadastrarBtn{
display: none;
}

.infoContainer{
display: flex;
justify-content: center;
padding: 1rem;
align-items: center;
}

.info{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(46, 153, 121);
}

.infoError{
    border: 1px solid red;
}

.hide{
    display:none;
}

.autorizacao{
    margin-top: 1rem;
    text-align: center;
}

.linkButtonSair{
    cursor: pointer;
}
/* ::-webkit-scrollbar{
     background-color: blueviolet;
     
    } */
    
    ::-webkit-scrollbar-thumb{
        background:linear-gradient(45deg,white,rgb(78, 8, 119));
    border-radius: 8px;
    width: 4px;
}

#recuperarCredencias{
    color: white;
    text-decoration: none;
}

#videoBackground{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -500;
}