<header class="defenicoesHeader">
    <nav>
        <ul>
            <li><a href="#">Dados Pessoais</a></li>
            <li><a href="">Segurança</a></li>
            <!-- <li><a href="">Gerir Contas</a></li> -->
        </ul>
    </nav>
</header>