<header class="defenicoesHeader">
    <h1>Definições</h1>
    <nav>
        <ul>
            <li><a href="/dashboard/definicoes/dados_pessoais">Dados Pessoais</a></li>
            <li><a href="">Segurança</a></li>
            <!-- <li><a href="">Gerir Contas</a></li> -->
        </ul>
    </nav>
</header>